
/*                 */
/* Global styling  */
/*                 */

body {
    font-family: 'Roboto', sans-serif;
    background: url("http://www.zastavki.com/pictures/originals/2015/Winter_Crystals_of_snow_on_gray_background_102993_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*                    */
/* Styling for header */
/*                    */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 100vw;
}
header h1{
    position: absolute;
    font-size: 120px;
    color:white;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}
header h5{
    position:  absolute;
    margin-top: 150px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/*                        */
/* Styling for navigation */
/*                        */

nav {
    padding: 20px;
}
nav li {
    font-size: 18px;
}

/*                        */
/* Styling for main grid  */
/*                        */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
}

/*                         */
/* Styling for site layout */
/*                         */

#checkout-mode {
    background: white;
    border: 1px solid lightgray;
    grid-column: 2;
    display: none;
}
#shop-mode {
    grid-column: 2;
}
#show-a-product {
    display: none;
    grid-column: 2;
    background: white;
    align-self: center;
}

/*                            */
/* Styling for products site. */
/*                            */

#product-catalogue {
    border: 1px solid lightgray;
    padding: 10px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: end;
}
#product-catalogue img {

}
.product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
    justify-content: center;
    cursor: pointer;
}
.product a {
    text-decoration: none;
    color: black;
}
.product h3 {
    font-size: 20px;
}
.product-price {
    font-size: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category div {
    display: flex;
    text-decoration: none;
}
.category div a {
    text-decoration: none;
    color: Black;
}

/*                      */
/* Styling for checkout */
/*                      */

.checkout-form {
    padding: 20px;
}
.shopping-cart {
    border-left: 1px solid lightgray;
    margin-top: 20px;
}
.shopping-cart h3 {
    margin-top: 150px;
}
#error-testing, #not-a-number {
    font-weight:  bold;
    color: red;
    padding: 10px;
}
#totalPrice {
    font-weight: bold;
}
#increase-quantity, #decrease-quantity {
    margin-left: 10px;
    margin-right: 10px;
}

/*                                 */
/* Styling for single product view */
/*                                 */

#single-product-view {
    display: flex;
    background: #f3f3f3;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}


#single-product-view h1 {
    text-align: center;
}

#single-product-view .product-desc {
    text-align: center;
}
.singleprice {
    display: flex;
    width: 260px;

}
.singleprice p {
    margin-right: 30px;
}

#single-product-view div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#single-product-view img {
    max-width: 200px;
}

.product-desc {
    font-style: italic;
    max-width: 600px;
}

/*                              */
/* Styling for product reviews  */
/*                              */

#product-reviews {
    margin-left: 50px;
    max-width: 70%;
}
#product-reviews button{
    margin-bottom: 10px;
}

#all-reviews h4 {
    font-style: italic;
}
.glyphicon-star, .glyphicon-star-empty {
    color: gold;
    font-size: 20px;
    margin: 2px;
}
